/* control.css */

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#panel-container::-webkit-scrollbar {
    width: 8px;
}

#panel-container::-webkit-scrollbar-track {
    background: #f1f5f9;
}

#panel-container::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 4px;
}

#panel-container::-webkit-scrollbar-thumb:hover {
    background: #64748b;
}

#panel-container {
    background-color: #f8fafc;
    background-image:
        linear-gradient(to right, #e2e8f0 1px, transparent 1px),
        linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
    background-size: 8rem 3rem;
}